body{
    background-color: aliceblue;
    background-image: linear-gradient(to bottom left, #d7ecff,#e4f0ff, #f0f4ff, #f9f9ff, #ffffff);
}

.header{
    background-color: black;
    z-index: 1;
    height: 15vh;
}

.header h1{
    color: white;
    font-size: 10vh;
    font-family: 'Mansalva', cursive;
    display: inline-block;
    position: absolute;
    left: 40vw;
    top: 2vh;
}

#logo_container{
    position: absolute;
    left: 2vw;
    top: 1vh;
    height: 12vh;
    width: 10vw;
    display: inline-block;
}

#logo_container img{
	height:100%;
	width:100%;
}

.navbar{
    top:15vh;
	position: absolute;
	width:100%;
	z-index: 100;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
    height: 8vh;
}

.navbar li{
	display:inline-block;
}

.navbar a{
  display: block;
  position: relative;
  color: black;
  text-align: center;
  padding: 3vh 3.5vw;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transition: 0.5s;
}

li a:hover {
    background-color: #111;
    color: white;
    transition: 0.5s;
}

.heading{
    position: fixed;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    top:50%;
    font-family: 'Lobster Two', cursive;
    line-height: 1.5;
    font-size:24px;
}

.ia-container {
    position: relative;
	width: 95vw;
    height: 75vh;
    top:3vh;
    left:2.8vw;
	margin: 0px;
	overflow: hidden;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.08);
    display:none;
}

.ia-container figure {
    position: absolute;
	top: 0;
	left: 2.777777777vw;
	width: 45vw;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.6);
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.ia-container > figure {
    position: relative;
	left: 0 !important;
}

.ia-container img {
	display: block;
	width: 100%;
    height:100%;
}

.ia-container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
	cursor: pointer;
	border: 0;
	padding: 0;
    opacity: 0;
	z-index: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.ia-container input:checked{
	width: 5px;
	left: auto;
	right: 0px;
}

.ia-container input:checked ~ figure {
    left: 100%;
    transition: all 0.7s ease-in-out;
}

.ia-container figcaption {
	width: 100%;
	height: 100%;
	background: rgba(87, 73, 81, 0.1);
	position: absolute;
	top: 0px;
    transition: all 0.2s linear;
}

.ia-container figcaption span {
	position: absolute;
	top: 40%;
	margin-top: -30px;
	right: 20px;
	left: 20px;
	overflow: hidden;
	text-align: center;
	background: rgba(87, 73, 81, 0.3);
	line-height: 20px;
	font-size: 18px;
    opacity: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	padding: 20px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 

.ia-container input:checked + figcaption,
.ia-container input:checked:hover + figcaption{
	background: rgba(87, 73, 81, 0);
}

.ia-container input:checked + figcaption span {
    transition: all 0.4s ease-in-out 0.5s;
	opacity: 1;
	top: 50%;
}

.ia-container #ia-selector-last:checked + figcaption span {
	transition-delay: 0.3s;
}

.ia-container input:hover + figcaption {
	background: rgba(87, 73, 81, 0.03);
}

.ia-container input:checked ~ figure input{
    z-index: 1;
}

@media screen and (max-width: 720px) {
    .ia-container { 
		width: 540px; 
	}
	
	.ia-container figure { 
		left: 40px; 
		width: 260px; 
	}
	
	.ia-container input { 
		width: 40px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 260px; 
	}
	
	.ia-container figcaption span { 
		font-size: 16px; 
	}
}

@media screen and (max-width: 520px) {
    .ia-container { 
		width: 320px; 
	}
	
	.ia-container figure { 
		left: 20px; 
		width: 180px; 
	}
	
	.ia-container input { 
		width: 20px; 
	}
	
	.ia-container input:checked ~ figure { 
		left: 180px; 
	}
	
	.ia-container figcaption span { 
		font-size: 12px; 
		letter-spacing: 2px; 
		padding: 10px; 
		margin-top: -20px; 
	} 

}

/*tabs*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper{
    position:absolute;
    top:94vh;
    left:35vw;
  text-align:center;
  margin:0px auto;
}

.tabs{
  /*margin-top:50px;*/
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}