body{
    overflow: hidden;
    background-color: white;
}

.header{
    background-color: black;
    z-index: 1;
    height: 15vh;
}

.header h1{
    color: white;
    font-size: 10vh;
    font-family: 'Mansalva', cursive;
    display: inline-block;
    position: absolute;
    left: 40vw;
    top: 2vh;
}

#logo_container{
    position: absolute;
    left: 2vw;
    top: 1vh;
    height: 12vh;
    width: 10vw;
    display: inline-block;
}

#logo_container img{
	height:100%;
	width:100%;
}

.navbar{
    top:15vh;
	position: absolute;
	width:100%;
	z-index: 100;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
    height: 8vh;
}

.navbar li{
	display:inline-block;
}

.navbar a{
  display: block;
  position: relative;
  color: black;
  text-align: center;
  padding: 3vh 3.5vw;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transition: 0.5s;
}

li a:hover {
    background-color: #111;
    color: white;
    transition: 0.5s;
}

.All{
  display:  block;
  position: relative;
  bottom: 5.2vh;
  width: 100vw;
}

.tab-container{
  margin: 0;
  padding: 0;
  display:  block;
  position: absolute;
  top: 12.8vh;
  width: 100vw;
    left: 0.01vw;
}

ul.switch{
  margin: 0;
  list-style-type : none;
  line-height : 4.64vh;
  max-height: 4.64vh;
  overflow: hidden;
  display: inline-block;
  min-width: 100vw;
}

ul.switch > li.active{
  z-index: 2;
  background: #efefef;
}

ul.switch > li.active:before{
  border-color : transparent #efefef transparent transparent;
}


ul.switch > li.active:after{
  border-color : transparent transparent transparent #efefef;
}

ul.switch > li{
  text-align: center;
  float : right;
    z-index:100000;
  margin: 0.325vw -0.651vw 0; 
  border-top-right-radius: 1.627vw 22.546vh;
  border-top-left-radius: 1.302vw 11.936vh;
  padding : 0 1.953vw 0 1.627vw;
  height: 22.54vh;
  background: #ddd;
  position : relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  width: 51.2vw;
  box-sizing: border-box;
}


ul.switch > li > a{
  display: inline-block;
  max-width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #222;
}

ul.switch > li:before, ul.switch > li:after{
  content : '';
  background : transparent;
  height: 2.65vh;
  width: 1.302vw;
  border-radius: 100%;
  border-width: 0.732vw;
  top: 0px;
  border-style : solid;
  position : absolute;
}

ul.switch > li:before{
  border-color : transparent #ddd transparent transparent;
  -webkit-transform : rotate(48deg);
  left: -1.497vw;
}



ul.switch > li:after{
  border-color : transparent transparent transparent #ddd;
  -webkit-transform : rotate(-48deg);
  right: -1.106vw;
}

.inter{
    width: 100%;
    height: 110vh;
    position: relative;
    top: 17vh;
    overflow: scroll;
}

.intra{
    width: 100%;
    height: 110vh;
    position: relative;
    top: 17vh;
    overflow: scroll;
}

.p {
    background-color: orange;
}

.q{
    background-color: white;
}

.r{
    background-color: green;
}

.s{
    background-color: blue;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper{
    position:absolute;
    top:82vh;
    left:35vw;
  text-align:center;
  margin:0px auto;
    display: block;
}

.tabs{
  /*margin-top:50px;*/
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}
.upcoming{
	padding-left: 1%;
	position: relative;
	font-family: 'Poppins', sans-serif;
	max-width:95%;
    background-position: 50% 50%;
}

#upcoming{
	display: block;
	text-align: left;
	font-size: 30px;
	position: relative;
	left: 2.5%;
	font-weight: bold;
    margin-bottom: 30px;
}

.show img{
	width: 51.5%;
	display:block;
	position: relative;
	right: 3.3%;
    border-radius: 15px;
}

.show{
    position: relative;
	display: inline-block;
	width: 45%;
	height:35vh;
	vertical-align: top;
	padding: 2% 1.2%;
    left: 2.5%;
}

.shows{
	text-align: center;
}

.description{
	vertical-align: top;
	text-align: left;
	display:inline-block;
	width:46%;
	position:relative;
	left:24%;
	bottom: 29vh;
    line-height: 1.2;
}

.description h1{
	font-size: 24px;
}

.description h2{
	font-size: 20px;
	line-height: 1.8;
    font-style: italic;
}