body{
    overflow-x: hidden;
    background-color: #333;
}

.navbar{
	position:fixed;
	width:100%;
	z-index: 100;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#333;
}

.navbar li{
	display:inline-block;
}

.navbar a {
  display: block;
  position:relative;
  bottom:20px;
  color: white;
  text-align: center;
  padding: 15px 80px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

li a:hover {
  background-color: #111;
}

.navbar li:first-child{
	width:100px;
	height:50px;
	overflow:hidden;
	margin-top:20px;
	margin-left:30px;
}

.navbar img{
	height:100%;
	width:100%;
}

.navbar li:nth-child(2){
	margin-left:100px;
}

.tab-container{
  margin: 0;
  padding: 0;
  display:  block;
  position: absolute;
  top: 12.8vh;
  width: 100vw;
}

ul.switch{
  margin: 0;
  list-style-type : none;
  line-height : 4.64vh;
  max-height: 4.64vh;
  overflow: hidden;
  display: inline-block;
}

ul.switch > li.active{
  z-index: 2;
  background: #efefef;
}

ul.switch > li.active:before{
  border-color : transparent #efefef transparent transparent;
}


ul.switch > li.active:after{
  border-color : transparent transparent transparent #efefef;
}

ul.switch > li{
  text-align: center;
  float : right;
    z-index:100000;
  margin: 0.325vw -0.651vw 0; 
  border-top-right-radius: 1.627vw 22.546vh;
  border-top-left-radius: 1.302vw 11.936vh;
  padding : 0 1.953vw 0 1.627vw;
  height: 22.54vh;
  background: #ddd;
  position : relative;
  box-shadow: 0 10px 20px rgba(0,0,0,.5);
  width: 51vw;
  box-sizing: border-box;
}


ul.switch > li > a{
  display: inline-block;
  max-width:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #222;
}

ul.switch > li:before, ul.switch > li:after{
  content : '';
  background : transparent;
  height: 2.65vh;
  width: 1.302vw;
  border-radius: 100%;
  border-width: 0.732vw;
  top: 0px;
  border-style : solid;
  position : absolute;
}

ul.switch > li:before{
  border-color : transparent #ddd transparent transparent;
  -webkit-transform : rotate(48deg);
  left: -1.497vw;
}

ul.switch > li:after{
  border-color : transparent transparent transparent #ddd;
  -webkit-transform : rotate(-48deg);
  right: -1.106vw;
}

#inter{
    width: 100%;
    height: 40vh;
    background-color: white;
    visibility: visible;
}

#intra{
    width: 100%;
    height: 40vh;
    background-color: white;
    visibility: hidden;
}



@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper{
    position:absolute;
    top:92vh;
    left:35vw;
  text-align:center;
  margin:0px auto;
}

.tabs{
  /*margin-top:50px;*/
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs a.active{
  color:#fff;
}

.tabs a i{
  margin-right:5px;
}

.tabs .selector{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}