body {
      background-color: black;
      color: white;
      font-family: 'Lucida Grande', Verdana, Arial;
      font-size: 12px;
    /*
      background-image: -webkit-gradient(radial,
                            50% 500, 1,
                            50% 500, 400,
                            from(rgba(255, 255, 255, 0.3)),
                            to(rgba(255, 255, 255, 0)));
    */ 
    background-repeat: no-repeat;
    overflow: hidden;
    }

.header{
    background-color: black;
    z-index: 1;
    height: 15vh;
}

.header h1{
    color: white;
    font-size: 10vh;
    font-family: 'Mansalva', cursive;
    display: inline-block;
    position: absolute;
    left: 40vw;
    top: 2vh;
}

#logo_container{
    position: absolute;
    left: 2vw;
    top: 1vh;
    height: 12vh;
    width: 10vw;
    display: inline-block;
}

#logo_container img{
	height:100%;
	width:100%;
}

.navbar{
    top:15vh;
	position: absolute;
	width:100%;
	z-index: 100;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
    height: 8vh;
}

.navbar li{
	display:inline-block;
}

.navbar a{
  display: block;
  position: relative;
  color: black;
  text-align: center;
  padding: 3vh 3.5vw;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transition: 0.5s;
}

li a:hover {
    background-color: #111;
    color: white;
    transition: 0.5s;
}

.heading{
    position: fixed;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    top:50%;
    font-family: 'Lobster Two', cursive;
    line-height: 1.5;
    font-size:24px;
}

    .container {
      width: 100%;
      -webkit-perspective: 800; 
      -webkit-perspective-origin: 50% 225px;
    }

.first {
    position:relative;
    height:40vh;
    bottom:2vh;
    left: 20vw;
}

.second {
    position: relative;
    bottom: 5vh;
    /*border:1px solid red;*/
    height:40vh;
    right: 25vw;
}
    #stage {
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform 2s;
      -webkit-transform-style: preserve-3d;
    }
    
    #shape {
      position: relative;
      top: 100px;
      margin: 0 auto;
      height: 30.5vh;
      width: 14.6vw;
      -webkit-transform-style: preserve-3d;
    }
    
    .plane {
      position: absolute;
      height: 220px;
      width: 360px;
      border: 1px solid white;
      -webkit-border-radius: 12px;
      -webkit-box-sizing: border-box;
      text-align: center;
      font-family: Times, serif;
      font-size: 124pt;
      color: white;
      background-color: black;
      -webkit-backface-visibility: hidden;
    }

img {
    height:100%;
    width:100%;
    border-radius: 12px;
}

    @-webkit-keyframes spin {
      from { -webkit-transform: rotateY(0); }
      to   { -webkit-transform: rotateY(-360deg); }
    }

      @-webkit-keyframes spin_rev {
      from { -webkit-transform: rotateY(0); }
      to   { -webkit-transform: rotateY(360deg); }
    }   


    /* ---------- ring styles ------------- */
    .ring > .one {
      -webkit-transform: translateZ(700px);
    }

    .ring > .two {
      -webkit-transform: rotateY(30deg) translateZ(700px);
    }

    .ring > .three {
      -webkit-transform: rotateY(60deg) translateZ(700px);
    }

    .ring > .four {
      -webkit-transform: rotateY(90deg) translateZ(700px);
    }

    .ring > .five {
      -webkit-transform: rotateY(120deg) translateZ(700px);
    }

    .ring > .six {
      -webkit-transform: rotateY(150deg) translateZ(700px);
    }

    .ring > .seven {
      -webkit-transform: rotateY(180deg) translateZ(700px);
    }

    .ring > .eight {
      -webkit-transform: rotateY(210deg) translateZ(700px);
    }

    .ring > .nine {
      -webkit-transform: rotateY(240deg) translateZ(700px);
    }

    .ring > .ten {
      -webkit-transform: rotateY(270deg) translateZ(700px);
    }

    .ring > .eleven {
      -webkit-transform: rotateY(300deg) translateZ(700px);
    }

    .ring > .twelve {
      -webkit-transform: rotateY(330deg) translateZ(700px);
    }

    @import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper1{
    position:absolute;
    top:35vh;
    left:10vw;
    text-align:center;
    margin:0px auto;
    z-index: 1000;
}

.wrapper2{
    position:absolute;
    top:80vh;
    right:13vw;
    text-align:center;
    margin:0px auto;
    z-index: 1000;
}

.tabs1, .tabs2{
  /*margin-top:50px;*/
  font-size:15px;
  padding:0px;
  list-style:none;
  background:#fff;
  opacity: 0.5;
  box-shadow:0px 5px 20px rgba(0,0,0,0.1);
  display:inline-block;
  border-radius:50px;
  position:relative;
}

.tabs1 a, .tabs2 a{
  text-decoration:none;
  color: #777;
  text-transform:uppercase;
  padding:10px 20px;
  display:inline-block;
  position:relative;
  z-index:1;
  transition-duration:0.6s;
}

.tabs1 a .active1, .tabs2 a .active2{
  color:white;
}

.tabs1 a i, .tabs2 a i{
  margin-right:5px;
}

.tabs1 .selector1, .tabs2 .selector2{
  height:100%;
  display:inline-block;
  position:absolute;
  left:0px;
  top:0px;
  z-index:1;
  border-radius:50px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  background: #05abe0;
  background: -moz-linear-gradient(45deg, #05abe0 0%, #8200f4 100%);
  background: -webkit-linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  background: linear-gradient(45deg, #05abe0 0%,#8200f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#8200f4',GradientType=1 );
}

.upper {
    position: absolute;
    top: 54vh;
    left: 95vw;
    background-color: gray;
    border: 1px white solid;
    border-radius: 1px;
}

.lower {
    position: absolute;
    top: 93vh;
    left: 3vw;
    background-color: gray;
    border: 1px white solid;
    border-radius: 1px;
}

.fast:hover {
    cursor: pointer;
}