.header{
    background-color: black;
    z-index: 1;
    height: 15vh;
}

.header h1{
    color: white;
    font-size: 10vh;
    font-family: 'Mansalva', cursive;
    display: inline-block;
    position: absolute;
    left: 40vw;
    top: 2vh;
}

#logo_container{
    position: absolute;
    left: 2vw;
    top: 1vh;
    height: 12vh;
    width: 10vw;
    display: inline-block;
}

#logo_container img{
	height:100%;
	width:100%;
}

.navbar{
    top:15vh;
	position: absolute;
	width:100%;
	z-index: 100;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
    height: 8vh;
}

.navbar li{
	display:inline-block;
}

.navbar a{
  display: block;
  position: relative;
  color: black;
  text-align: center;
  padding: 3vh 3.5vw;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transition: 0.5s;
}

li a:hover {
    background-color: #111;
    color: white;
    transition: 0.5s;
}
.heading{
    position: fixed;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    top:50%;
    font-family: 'Lobster Two', cursive;
    line-height: 1.5;
    font-size:24px;
}

.pics {
    display: grid;
    grid-auto-flow: row;
    width: 10%;
    height: 200vh;
    overflow: visible;
    top:25%;
    grid-gap: 2%;
}

.one{
    position: relative;
    left:4%;
    float: left;
}

.two {
    float:right;
    position: relative;
    right:4%;
}


.pics img {
    height:100%;
    width:100%;
    border-radius:50%;
}

.item {
    width: 100%;
    transition: transform 0.4s;
    height:100%;
    overflow:hidden;
}

.item:hover{
    transform: scale(1.25);
    overflow: visible;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5); 
    border-radius:50%;
}

body {
    background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size : cover;
    width: 100%;
    overflow-x: hidden;
}

.description{
    display: none;
    float:left;
    box-shadow: 10px 10px 8px 10px #057c94;
    background-color: aliceblue;
    position:fixed;
    width:65%;
    height: 80%;
    left:18%; 
    z-index:99;
    line-height:1.3;
    transition: transform 0.4s;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    overflow-y:scroll;
    animation: appear 0.8s;
    /*animation: fadeInDown 1s;*/
}
/*
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
*/

@keyframes appear {
    from {height:0;
          width:0;
		  opacity: 0;
    }
    
    to { height:80%;
    width:65%;
	opacity:1;
    }
}


.description h2{
    display:inline-block;
    width:50%;
    float:right;
    padding:1%;
}

.description h3 {
    display:inline-block;
    width:50%;
    float:right;
    padding:1%;
}

.description img{
    width:25%;
    height:60%;
    top:26%;
    left:21%;
    position: fixed;
    display: inline-block;
    box-shadow: 5px 10px 5px 5px rgba(0,0,0,0.5);
    animation: fadeInDown 1s;
    animation: image 0.8s;
}

@keyframes image{
    from {height:0;
          width:0;
    }
    
    to { height:60%;
    width:25%;
    }
}