.navbar{
	position:fixed;
	width:100%;
	z-index: 100;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#333;
}

.navbar li{
	display:inline-block;
}

.navbar a {
  display: block;
  position:relative;
  bottom:20px;
  color: white;
  text-align: center;
  padding: 15px 80px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.navbar li:first-child{
	width:100px;
	height:50px;
	overflow:hidden;
	margin-top:20px;
	margin-left:30px;
}

.navbar img{
	height:100%;
	width:100%;
}

.navbar li:nth-child(2){
	margin-left:100px;
}

.slideshow .slide{
    width:100%;
	height:100%;
	max-height:100vh;
	overflow:hidden;
	animation: EaseIn 2s infinite; 
}

@keyframes EaseIn{
	0%{opacity: 0;}
	80%{opacity: 1;}
	100%{opacity: 1;}
}

.slideshow{
	max-width:100%;
	position:relative;
	z-index:-1;
	background-size: 100% 100%;
	background-image: url("images/IMG_0390.jpg");
}

.heading{
	display: block;
	position: relative;
	bottom:400px;
	color:white;
	width:500px;
	left:60%;
}


.heading h1{
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 45px;
}

.heading h2{
	text-align:center;
	font-size:30px;
	font-family: 'Poppins', sans-serif;
}

.heading h3{
	text-align:center;
	font-size: 18px;
	line-height: 1.4;
	font-family: 'Poppins', sans-serif;
}

.grid{
	display: grid;
	position: relative;
	grid-template:
	'a b c d';
    width:100%;
    height:1000px;
	bottom: 100px;
	top: 50px;
	margin-bottom: 400px;
}

.top .left{
	grid-area: a;
}

.top .right{
	grid-area: b;
}

.bottom .left{
	grid-area: c;
}

.bottom .right{
	grid-area: d;
}

.pp{
  width:200px;
  border-radius: 50%;
}

.name{
	font-weight:bold;
}

.quote, .name{
	display: block;
	position: relative;
	bottom: 10%;
	padding: 0px 100px;
	line-height: 1.7;
}

.quote{
	margin-top: 20px; 
}

