.navbar{
	position:fixed;
	width:100%;
	z-index: 100;
}

.navbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#333;
}

.navbar li{
	display:inline-block;
}

.navbar a {
  display: block;
  position:relative;
  bottom:20px;
  color: white;
  text-align: center;
  padding: 15px 80px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

li a:hover {
  background-color: #111;
}

.navbar li:first-child{
	width:100px;
	height:50px;
	overflow:hidden;
	margin-top:20px;
	margin-left:30px;
}

.navbar img{
	height:100%;
	width:100%;
}

.navbar li:nth-child(2){
	margin-left:100px;
}

.pics {
    position: relative;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 80%;
    width: 25%;
    height: 4000px;
    float: left;
    margin-right: 20px;
    top:15%;
    background-color: antiquewhite;
}

.sec {
    position: relative
    background-color:aqua;
    justify-content: end;
    left:40%;
    
}

.pri {
}

.pics img {
    width:100%;
    border-radius:50%;
}

.item {
    width: 80%;
    margin: 0 5px 5px 0;
    transition: opacity 0.4s;
    border:1px solid black;
}

.sec .item{
    border: 1px solid red;
}
